<launch>
  <!-- Doc: http://wiki.ros.org/octomap_server?distro=kinetic -->
  <arg name="robot" default="pioneer" />
  <arg name="map" default="level1" />

  <!-- launch server for positive map-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" 
    args="$(find uml_3d_race)/resources/static_maps/3d/$(arg map)/$(arg map).bt">
    <param name="frame_id" type="string" value="/map" />
    <param name="occupancy_min_z" value="0.05" />
    <rosparam file="$(find uml_3d_race)/resources/models/$(arg robot)/config/robot_dimensions.yaml" command="load" />
  </node>

  <!-- launch server for negative map-->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_negative" output="screen" 
    args="$(find uml_3d_race)/resources/static_maps/3d/$(arg map)/$(arg map).bt">
    <param name="frame_id" type="string" value="/map" />
    <param name="occupancy_max_z" value="-0.1" />
    <param name="occupancy_min_z" value="-10" />

    <!-- rename all colliding topics and services-->
    <remap from="octomap_binary" to="octomap_binary_negative" />
    <remap from="octomap_full" to="octomap_full_negative" />
    <remap from="occupied_cells_vis_array" to="occupied_cells_vis_array_negative" />
    <remap from="octomap_point_cloud_centers" to="octomap_point_cloud_centers_negative" />
    <remap from="projected_map" to="projected_map_negative" />
    <remap from="octomap_binary" to="octomap_binary_negative" />
    <remap from="clear_bbx" to="clear_bbx_negative" />
    <remap from="reset" to="reset_negative" />
  </node>
</launch>