<launch>
  <!-- Doc: http://wiki.ros.org/pointcloud_to_laserscan?distro=kinetic -->

  <arg name="robot" default="pioneer"/>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
    <remap from="cloud_in" to="/kinect/depth/points"/>
    <remap from="scan" to="$(arg robot)/kinect_scan"/>
    <param name="target_frame" value="$(arg robot)/kinect_stand_link"/>
  </node>
</launch>