<launch>
    <arg name="map_name" default="level1"/>
    <arg name="2d" default="true" />
    <arg name="3d" default="true" />

    <!-- Create directories for the maps-->
    <node pkg="uml_3d_race" type="save_maps.sh" name="map_saver_script" args="$(arg map_name) $(arg 2d) $(arg 3d)"/>
    
</launch>