<launch>
  <!-- Determine whether the robot is physical or simulated-->
  <arg name="sim" default="true" />

  <!-- If in sim, enable gazebo gui or not -->
  <arg name="gui" default="true" />

  <!-- Launch in either navigate mode or mapping mode -->
  <arg name="navigate" default="true" />

  <!-- Name and type of robot being spawned in -->
  <arg name="robot_type" default="pioneer" />
  <arg name="robot_name" default="" />

  <!-- Define the two goal points on the map-->
  <arg name="spawn_x" value="0.0" />
  <arg name="spawn_y" value="4.0" />
  <arg name="spawn_z" value="0.0" />
  <arg name="spawn_yaw" value="0.0" />

  <arg name="goal_x" value="0.0" />
  <arg name="goal_y" value="8.0" />

  <!-- Define map settings-->
  <arg name="world_name" value="nerve1_half_regular" />
  <arg name="world_path" value="nerve1/$(arg world_name).world" />
  
  <!-- Set up global goal publisher -->
  <node name="goal_publisher" pkg="uml_3d_race" type="goal_publisher" output="screen">
    <param name="goal_x" value="$(arg goal_x)" />
    <param name="goal_y" value="$(arg goal_y)" />
    <param name="spawn_x" value="$(arg spawn_x)" />
    <param name="spawn_y" value="$(arg spawn_x)" />
  </node>

  <!-- Include spawn_world.launch and set it's arguments if simulation is needed-->
  <include file="$(find uml_3d_race)/launch/spawn_world.launch" if="$(arg sim)">
    <!-- World file -->
    <arg name="world_path" value="$(arg world_path)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- Setup robot -->
  <include file="$(find uml_3d_race)/launch/spawn_robot.launch">
    <arg name="robot_type" value="$(arg model_type)" />
    <arg name="robot_name" value="$(arg model_name)" />
    <arg name="x" value="$(arg spawn_x)" />
    <arg name="y" value="$(arg spawn_y)" />
    <arg name="z" value="$(arg spawn_z)" />
    <arg name="yaw" value="$(arg spawn_yaw)" />
    <arg name="level" value="$(arg world_name)" />
    <arg name="navigate" value="$(arg navigate)" />
    <arg name="sim" value="$(arg sim)" />
  </include>

</launch>
