<launch>
  <!-- Settings (Robot position args are overidden by spawn_world.launch)-->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.1" />
  <arg name="yaw" default="0.0" />
  <!-- Rotation in radians. -->
  <arg name="level" default="nerve_physical" />
  <arg name="navigate" default="true" />
  <arg name="3d" default="true" />

  <!-- model_name determines the topics to be published, and serves as a unique identifier for Gazebo -->
  <arg name="model_type" value="fetch" />

  <!-- Robot sensor topics -->
  <arg name="laser_topic" value="/base_scan" />
  <arg name="pointcloud_topic" value="/head_camera/depth_registered/points" />

  <!-- Publish robot spawn for resetting to -->
  <node name="spawn_publisher" pkg="uml_3d_race" type="spawn_publisher" output="screen" >
    <param name="topic" value="spawn" />
    <param name="x_position" value="$(arg x)" />
    <param name="y_position" value="$(arg y)" />
    <param name="z_rotation" value="$(arg yaw)" />
  </node>

  <!-- Start pointcloud filter-->
  <include file="$(find uml_3d_race)/launch/navigation/pointcloud_filter.launch">
      <arg name="namespace" value="" />
      <arg name="input_cloud" value="$(arg pointcloud_topic)" />
      <arg name="output_cloud" value="$(arg pointcloud_topic)_filtered" />
  </include>

  <!-- Start nav stack or mapping mode-->
  <group if="$(arg navigate)">
    <!-- Start 3d Nav Stack -->
    <include file="$(find uml_3d_race)/launch/navigation/navigation_3d.launch" if="$(arg 3d)">
      <arg name="namespace" value="" />
      <arg name="robot_type" value="$(arg model_type)" />
      <arg name="map" value="$(arg level)" />
      <arg name="init_x" value="$(arg x)" />
      <arg name="init_y" value="$(arg y)" />
      <arg name="init_yaw" value="$(arg yaw)" />
      <arg name="has_laser" value="true" />
      <arg name="laser_topic" value="$(arg laser_topic)" />
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)_filtered" />
    </include>

    <!-- Start 2d Nav Stack -->
    <include file="$(find uml_3d_race)/launch/navigation/navigation_2d.launch" unless="$(arg 3d)">
      <arg name="namespace" value="" />
      <arg name="robot_type" value="$(arg model_type)" />
      <arg name="map" value="$(arg level)" />
      <arg name="init_x" value="$(arg x)" />
      <arg name="init_y" value="$(arg y)" />
      <arg name="init_yaw" value="$(arg yaw)" />
      <arg name="has_laser" value="true" />
      <arg name="laser_topic" value="$(arg laser_topic)" />
    </include>
  </group>

  <group unless="$(arg navigate)">
    <!-- Start Mapping -->
    <include file="$(find uml_3d_race)/launch/navigation/map_teleop.launch">
      <arg name="namespace" value="" />
      <arg name="map" value="$(arg level)" />
      <arg name="static_2d_map" value="false" />
      <arg name="3d" value="true" />
      <arg name="init_x" value="$(arg x)" />
      <arg name="init_y" value="$(arg y)" />
      <arg name="init_yaw" value="$(arg yaw)" />
      <arg name="laser_topic" value="$(arg laser_topic)" />
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)_filtered" />
    </include>
  </group>

</launch>
