<!-- Assumes Gazebo is already running -->
<launch>
  <!-- Settings (Robot position args are overidden by spawn_world.launch)-->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.1" />
  <arg name="yaw" default="0.0" />
  <!-- Rotation in radians. -->
  <arg name="level" default="level1" />
  <arg name="navigate" default="true" />

<!-- model_name determines the topics to be published, and serves as a unique identifier for Gazebo -->
  <arg name="model_name" default="" />
  <arg name="model_type" default="fetch" />

  <!-- Robot sensor topics -->
  <arg name="laser_topic" value="/base_scan" />
  <arg name="pointcloud_topic" value="/head_camera/depth/points" />

   <!-- Spawn Fetch  -->
  <include file="$(find fetch_gazebo)/launch/include/fetch.launch.xml">
    <arg name="x" default="$(arg x)" />
    <arg name="y" default="$(arg y)" />
    <arg name="z" default="$(arg z)" />
    <arg name="yaw" default="$(arg yaw)" />
  </include>

  <!-- Publish robot spawn for resetting to -->
  <node name="spawn_publisher" pkg="uml_3d_race" type="spawn_publisher" output="screen" if="$(eval not model_name)">
    <param name="topic" value="spawn" />
    <param name="x_position" value="$(arg x)" />
    <param name="y_position" value="$(arg y)" />
    <param name="z_rotation" value="$(arg yaw)" />
  </node>

  <!-- Publish robot spawn for resetting to with namespace-->
  <node name="spawn_publisher" pkg="uml_3d_race" type="spawn_publisher" output="screen" ns="$(arg model_name)" unless="$(eval not model_name)">
    <param name="topic" value="spawn" />
    <param name="x_position" value="$(arg x)" />
    <param name="y_position" value="$(arg y)" />
    <param name="z_rotation" value="$(arg yaw)" />
  </node>

  <node pkg="fetch_navigation" type="tilt_head.py" name="tilt_head_node" />

  <!-- Laser filter to remove infinite values from the front facing laser -->
  <!-- http://wiki.ros.org/laser_filters -->
  <!-- <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" ns="$(arg model_name)">
    <rosparam command="load" file="$(find uml_3d_race)/resources/config/laserfilter_config.yaml" />
    <remap from="scan" to="frontscan" />
    <remap from="scan_filtered" to="frontscan_filtered" />
  </node> -->

  <!-- Start Kinect to Laser Converter -->
  <!-- <include file="$(find uml_3d_race)/launch/navigation/pcl_to_laser.launch">
    <arg name="robot" value="$(arg model_name)" />
  </include> -->

  <!-- Start nav stack or mapping mode-->
  <group if="$(arg navigate)">
    <!-- Start Nav Stack -->
    <include file="$(find uml_3d_race)/launch/navigation/navigation_3d.launch">
      <arg name="namespace" value="$(arg model_name)" />
      <arg name="robot_type" value="$(arg model_type)" />
      <arg name="map" value="$(arg level)" />
      <arg name="init_x" value="$(arg x)" />
      <arg name="init_y" value="$(arg y)" />
      <arg name="init_yaw" value="$(arg yaw)" />
      <arg name="has_laser" value="true" />
      <arg name="laser_topic" value="$(arg laser_topic)" />
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)" />
    </include>
  </group>

  <group unless="$(arg navigate)">
    <!-- Start Mapping -->
    <include file="$(find uml_3d_race)/launch/navigation/map_teleop.launch">
      <arg name="namespace" value="$(arg model_name)" />
      <arg name="map" value="$(arg level)" />
      <arg name="static_2d_map" value="false" />
      <arg name="3d" value="true" />
      <arg name="init_x" value="$(arg x)" />
      <arg name="init_y" value="$(arg y)" />
      <arg name="init_yaw" value="$(arg yaw)" />
      <arg name="laser_topic" value="$(arg laser_topic)" />
      <arg name="pointcloud_topic" value="$(arg pointcloud_topic)" />
    </include>
  </group>

</launch>
