<launch>
  <arg name="namespace" default="pioneer" />
  <arg name="iterations" default="1" />

  <!-- Start moving-->
  <node name="mover_node" pkg="uml_3d_race" type="mover_node" output="screen" ns="$(arg namespace)" required="true">
    <param name="iterations" value="$(arg iterations)" />
  </node>

  <!-- Start logging the movement-->
  <node name="logger" type="logger" pkg="uml_3d_race" ns="$(arg namespace)" output="screen"/>

</launch>
