<launch>
  <arg name="namespace" default="pioneer" />

  <!-- Change required to false if you want the mover_node to continue after the referee ends the race. -->
  <node name="referee_node" pkg="uml_3d_race" type="referee" output="screen"/>

  <node name="mover_node" pkg="uml_3d_race" type="mover_node" output="screen" ns="$(arg namespace)"/>

  <node name="logger" type="logger" pkg="uml_3d_race" ns="$(arg namespace)" output="log"/>

</launch>
