<launch>
  <arg name="namespace" default="" />
  <arg name="iterations" default="1" />

  <!-- Start moving-->
  <node name="mover_node" pkg="uml_3d_race" type="mover_node" output="screen" required="true" if="$(eval not namespace)">
    <param name="iterations" value="$(arg iterations)" />
  </node>

  <!-- Start moving with namespace-->
  <node name="mover_node" pkg="uml_3d_race" type="mover_node" output="screen" ns="$(arg namespace)" required="true" unless="$(eval not namespace)">
    <param name="iterations" value="$(arg iterations)" />
  </node>

  <!-- Start logging the movement-->
  <node name="logger" type="logger" pkg="uml_3d_race" output="screen" if="$(eval not namespace)">
    <remap from="odom" to="base_pose_ground_truth" />
  </node>

  <!-- Start logging the movement with namespace-->
  <node name="logger" type="logger" pkg="uml_3d_race" ns="$(arg namespace)" output="screen" unless="$(eval not namespace)">
    <remap from="odom" to="base_pose_ground_truth" />
  </node>

</launch>
