<launch>
    <arg name="config_file" default="config" />
    <arg name="robot" default="pioneer" />

    <!-- Launch rviz using a specific config file -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find uml_3d_race)/resources/robot_configs/$(arg robot)/$(arg config_file).rviz" />
</launch>
