<!-- This launch file is responsible for launching all of the necessesary nodes and launch files needed to setup a test -->

<launch>
  <!-- Determine whether the robot is physical or simulated-->
  <arg name="sim" default="true" />

  <!-- If in sim, enable gazebo gui or not -->
  <arg name="gui" default="true" />

  <!-- Launch in either navigate mode or mapping mode -->
  <arg name="navigate" default="true" />

  <!-- Use 3d or 2d navigation -->
  <arg name="3d" default="true" />

  <!-- Type of robot being spawned in -->
  <arg name="robot" default="pioneer" />

  <!-- Define the two goal points and two obstacle spawn points on the map, values are set in the level launch files-->
  <arg name="spawn_x" default="0"/>
  <arg name="spawn_y" default="0"/>
  <arg name="spawn_z" default="0"/>
  <arg name="spawn_yaw" default="0"/>

  <arg name="goal_x" default="0"/>
  <arg name="goal_y" default="0"/>

  <arg name="obstacle_x_1" default="0"/>
  <arg name="obstacle_y_1" default="0"/>
  <arg name="obstacle_z_1" default="0"/>
  <arg name="obstacle_theta_1" default="0"/>
  <arg name="obstacle_x_2" default="0"/>
  <arg name="obstacle_y_2" default="0"/>
  <arg name="obstacle_z_2" default="0"/>
  <arg name="obstacle_theta_2" default="0"/>

  <!-- Define map settings, values are set in the level launch files-->
  <arg name="world_name" />
  <arg name="world_path" />

  <!-- Determine whether an obstacle robot should be spawned in -->
  <arg name="obstacle_bot" default="false" />

  <!-- Determine whether a dynamic obstacle should be spawned in -->
  <arg name="dynamic_obstacle" default="false" />

  <!-- Name of dynamic obstacle that will be spawned in if needed -->
  <arg name="obstacle_name" default="caution_100cm_block" />

  <!-- Flip obstacle spawner -->
  <arg name="flip_obstacle" default="true" />
  
  <!-- Set up global goal publisher -->
  <node name="goal_publisher" pkg="uml_3d_race" type="goal_publisher" output="screen">
    <param name="goal_x" value="$(arg goal_x)" />
    <param name="goal_y" value="$(arg goal_y)" />
    <param name="spawn_x" value="$(arg spawn_x)" />
    <param name="spawn_y" value="$(arg spawn_y)" />
  </node>  

  <!-- Include spawn_world.launch and set it's arguments if simulation is needed-->
  <include file="$(find uml_3d_race)/launch/spawn_world.launch" if="$(arg sim)">
    <!-- World file -->
    <arg name="world_path" value="$(arg world_path)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- Setup robot -->
  <include file="$(find uml_3d_race)/launch/setup_robot.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="x" value="$(arg spawn_x)" />
    <arg name="y" value="$(arg spawn_y)" />
    <arg name="z" value="$(arg spawn_z)" />
    <arg name="yaw" value="$(arg spawn_yaw)" />
    <arg name="level" value="$(arg world_name)" />
    <arg name="navigate" value="$(arg navigate)" />
    <arg name="3d" value="$(arg 3d)" />
    <arg name="sim" value="$(arg sim)" />
  </include>

  <!-- Setup obstacle bot if wanted -->
  <include file="$(find uml_3d_race)/launch/setup_robot.launch" if="$(arg obstacle_bot)">
    <arg name="robot" value="obstacle_bot" />
    <arg name="x" value="$(arg spawn_x)" />
    <arg name="y" value="$(arg spawn_y)" />
    <arg name="z" value="$(arg spawn_z)" />
    <arg name="yaw" value="$(arg spawn_yaw)" />
    <arg name="level" value="$(arg world_name)" />
    <arg name="navigate" value="$(arg navigate)" />
    <arg name="sim" value="$(arg sim)" />
  </include>

  <!-- Setup dynamic obstacle spawner if wanted -->
  <node name="dynamic_obstacle_manager" pkg="uml_3d_race" type="dynamic_obstacles" if="$(arg dynamic_obstacle)">
    <param name="model_description" textfile="$(find uml_3d_race)/resources/models/obstacles/$(arg obstacle_name)/model.sdf"/>
    <param name="invert_spawn_positions" value="$(arg flip_obstacle)" />
    <param name="x_pos_1" value="$(arg obstacle_x_1)" />
    <param name="y_pos_1" value="$(arg obstacle_y_1)" />
    <param name="z_pos_1" value="$(arg obstacle_z_1)" />
    <param name="theta_1" value="$(arg obstacle_theta_1)" />
    <param name="x_pos_2" value="$(arg obstacle_x_2)" />
    <param name="y_pos_2" value="$(arg obstacle_y_2)" />
    <param name="z_pos_2" value="$(arg obstacle_z_2)" />
    <param name="theta_2" value="$(arg obstacle_theta_2)" />
  </node>

</launch>