<!-- Assumes Gazebo is already running -->
<launch>
  <!-- Settings (Robot position args are overidden by spawn_world.launch)-->
  <arg name="x" default="0.0" />
  <arg name="y" default="0.0" />
  <arg name="z" default="0.0" />
  <arg name="yaw" default="0.0" />
  <!-- Rotation in radians. -->
  <arg name="level" default="level1" />
  <arg name="navigate" default="true" />

  <arg name="robot" default="pioneer" />

  <arg name="sim" default="true" />

  <!-- Launch respective simulated robot -->
  <include file="$(find uml_3d_race)/launch/robots/spawn_$(arg robot).launch" if="$(arg sim)">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
    <!-- Rotation in radians. -->
    <arg name="level" value="$(arg level)" />
    <arg name="navigate" value="$(arg navigate)" />
  </include>

  <!-- Launch respective physical robot -->
  <include file="$(find uml_3d_race)/launch/robots/run_$(arg robot).launch" unless="$(arg sim)">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="yaw" value="$(arg yaw)" />
    <!-- Rotation in radians. -->
    <arg name="level" value="$(arg level)" />
    <arg name="navigate" value="$(arg navigate)" />
  </include>
</launch>
